<% band = Band.includes(:albums).find_by(id: params[:id]) %>
<% albums = band.albums %>

<%= link_to "Back to Index", bands_url %>

<h1><%= band.name %></h1>
<% if current_user.admin_status %>
  <%= link_to "Edit", edit_band_url(band) %>
  <%= link_to "Delete", band_url(band), method: :delete %>
<% end %>

<h2>Albums</h2>
<ul>
  <% if albums.empty? %>
    <h3>No Albums....</h3>
  <%else%>
  <% albums.each do |album| %>
    <li><%= link_to "#{album.name}", album_url(album) %> <%= button_to "edit", edit_album_url(album), method: :get%> </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Album", new_album_url%>
